.progress-bar {
  --width: 5;
  width: min(800px, 100%);
  margin: 0 auto;
  padding: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: #111111;
  border-radius: 1.5em;
}

.progress-bar::before {
  display: flex;
  align-items: center;
  width: clamp(2em, var(--width, 0) * 1%, 100%);
  min-height: 2em;
  padding: 0.5em;
  background: #069;
  border-radius: 1.5em;
  content: attr(data-label);
}
